*{

    box-sizing:border-box;
    margin:0;
    padding:0;

}



body{

    font-family:Arial, Helvetica, sans-serif;
    background:#f2f2f2;

}



.app{

    display:grid;
    grid-template-columns:250px 1fr;
    grid-template-rows:100px 1fr;
    min-height:100vh;

}



.header{

    grid-column:1 / 3;

    background:#222;
    color:white;

    padding:20px;

}



.header h1{

    font-size:32px;

}



.header p{

    margin-top:8px;

}





.menu{

    background:#333;

    padding:20px;

}



.menu button{

    width:100%;

    padding:15px;

    margin-bottom:12px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}



.menu button:hover{

    transform:scale(1.03);

}





.contenido{

    padding:30px;

}



.inicio{

    background:white;

    padding:40px;

    border-radius:15px;

}



.inicio h2{

    margin-bottom:20px;

}



.inicio p{

    margin-bottom:10px;

}
